# **<font color='crimson'>MySQL. Select queries from A to Z. Part 1</font>**

---

In [ ]:
###

In [ ]:
--1
select version();

In [ ]:
###

In [ ]:
--2
show databases;

In [ ]:
###

In [ ]:
--3
use information_schema;

In [ ]:
###

In [ ]:
--4
show tables;

In [ ]:
###

In [ ]:
--5
use information_schema;
show tables;

In [ ]:
###

In [ ]:
--6
use information_schema;
select * from keywords;

In [ ]:
###

In [ ]:
--7
use information_schema;
desc statistics;

In [ ]:
###

In [ ]:
--8
SELECT
    count(*)
FROM
    private_messages as t
WHERE
    (t.sender_id = 1 AND t.receiver_id = 2)
    OR (t.sender_id = 2 AND t.receiver_id = 1);

In [ ]:
###

In [ ]:
--9
SELECT *
FROM
    channels as t
ORDER BY
    t.created_at
LIMIT 5;

In [ ]:
###

In [ ]:
--10
SELECT
    t.id
    ,t.title
    ,t.owner_user_id
    ,t.created_at
FROM
    channels as t
ORDER BY
    t.created_at ASC
LIMIT 5;

In [ ]:
###

In [ ]:
--11
SELECT *
FROM
    saved_messages as t
WHERE
    t.user_id = 5
    AND t.body LIKE '%список покупок%';

In [ ]:
###

In [ ]:
--12
SELECT
    count(*)
FROM
    channels AS t
WHERE
    t.title LIKE '_'
    OR t.title LIKE '__';

In [ ]:
###

In [ ]:
--13
SELECT *
FROM
    stories as t
WHERE
    t.user_id IN (2, 3, 4, 5, 6)
ORDER BY
    t.created_at;

In [ ]:
###

In [ ]:
--14
WITH subquery AS(
    SELECT MIN(t.created_at) AS min_date
    FROM user_settings AS t
)

SELECT
    t.created_at
    ,t.user_id
FROM
    user_settings AS t
WHERE
    t.is_premium_account
    AND t.created_at = (SELECT t.min_date FROM subquery AS t);

In [ ]:
###

In [ ]:
--15
SELECT
    MAX(t.created_at)
FROM
    stories AS t;

In [ ]:
###

In [ ]:
--16
SELECT
    SUM(t.views_count) AS sum_views
FROM
    stories AS t;

In [ ]:
###

In [ ]:
--17
SELECT
    AVG(LENGTH(t.body)) AS mean_message_length
FROM
    private_messages AS t;

In [ ]:
###

In [ ]:
--18
SELECT
    t.user_id
    ,COUNT(t.channel_id) AS channels_count
FROM
    channel_subscribers AS t
WHERE
    t.status = 'joined'
GROUP BY
    t.user_id
ORDER BY
    COUNT(t.channel_id) DESC
LIMIT 1;

In [ ]:
###

In [ ]:
--19
SELECT
    t.id
    ,LEFT(t.title, 30) AS title
    ,t.is_private
FROM
    `groups` AS t
WHERE
    NOT t.is_private
ORDER BY
    t.title ASC;

In [ ]:
###

In [ ]:
--20
SELECT
    t.is_premium_account
    ,COUNT(*) AS users_amount
FROM
    user_settings AS t
GROUP BY
    t.is_premium_account;

In [ ]:
###

In [ ]:
--21
SELECT
    COUNT(*) AS count
    ,t.reaction_id
FROM
    private_message_reactions AS t
GROUP BY
    t.reaction_id
ORDER BY
    COUNT(*) DESC;

In [ ]:
###

In [ ]:
--22
SELECT
    COUNT(*) AS count
    ,t.reaction_id
FROM
    private_message_reactions AS t
GROUP BY
    t.reaction_id
HAVING
    COUNT(*) > 80
ORDER BY
    COUNT(*) DESC;

In [ ]:
###

In [ ]:
--23
SELECT
    COUNT(*) AS count
FROM
    channels AS t
WHERE
    t.icon IS NULL;

In [ ]:
###

In [ ]:
--24
SELECT
    COUNT(*)
FROM
    channels AS t
WHERE
    t.icon IS NOT NULL;

In [ ]:
###

In [ ]:
--25
SELECT *
FROM
    users AS t
ORDER BY
    t.lastname ASC
LIMIT 10 OFFSET 0;

In [ ]:
###

In [ ]:
--26
SELECT *
FROM
    users AS t
ORDER BY
    t.lastname ASC
LIMIT 10 OFFSET 10;

In [ ]:
###

In [ ]:
--27
SELECT *
FROM
    users AS t
ORDER BY
    t.lastname ASC
LIMIT 10 OFFSET 60;

In [ ]:
###

In [ ]:
--28
SELECT
    t.id
    ,t.views_count
    ,IF (t.views_count = 1000, 'popular', 'not popular') AS is_popular
FROM
    stories AS t;

In [ ]:
###

In [ ]:
--29
SELECT
    SUM(t.views_count) AS views_per_user
    ,t.user_id
FROM
    stories AS t
GROUP BY
    t.user_id
ORDER BY
    t.user_id;

In [ ]:
###

In [ ]:
--30
SELECT
    SUM(t.views_count) AS views_per_user
    ,t.user_id
FROM
    stories AS t
GROUP BY
    t.user_id
ORDER BY
    SUM(t.views_count) DESC
LIMIT 5;