# **<font color='crimson'>MySQL. Select queries from A to Z. Part 2</font>**

---

In [ ]:
###

In [ ]:
--1
SELECT
    t.lastname
    ,t.firstname
    ,t.birthday
FROM
    users AS t
WHERE
    t.email = 'mgoyette@example.org';

In [ ]:
###

In [ ]:
--2
SELECT
    t.lastname
    ,t.firstname
    ,t.birthday
    ,(
        SELECT us.app_language
        FROM user_settings AS us
        WHERE t.id = us.user_id
    ) AS app_language
FROM
    users AS t
WHERE
    t.email = 'mgoyette@example.org';

In [ ]:
###

In [ ]:
--3
SELECT
    t.lastname
    ,t.firstname
    ,t.birthday
    ,(
        SELECT us.app_language
        FROM user_settings AS us
        WHERE us.user_id = 10
    ) AS app_language
FROM
    users AS t
WHERE
    t.id = 10;

In [ ]:
###

In [ ]:
--4
SELECT
    t.firstname
    ,t.lastname
FROM
    users AS t
WHERE t.id IN (
    SELECT t.user_id
    FROM user_settings AS t
    WHERE t.app_language = 'russian'
    )
ORDER BY
    t.lastname ASC;

In [ ]:
###

In [ ]:
--5
SELECT
    t.id
    ,t.views_count
    ,t.created_at
FROM
    stories AS t
WHERE
    t.user_id = 2
ORDER BY
    t.views_count DESC;

In [ ]:
###

In [ ]:
--6
SELECT
    t.id
    ,t.views_count
    ,t.created_at
    ,(SELECT t.firstname FROM users AS t WHERE t.id = 2) AS name
    ,(SELECT t.lastname FROM users AS t WHERE t.id = 2) AS lastname
FROM
    stories AS t
WHERE
    t.user_id = 2
ORDER BY
    t.views_count DESC;

In [ ]:
###

In [ ]:
--7
--вычисляем суммарное количество лайков каждой истории пользователя с id  = 2
WITH subquery AS (
    SELECT
        t.story_id
        ,COUNT(1) AS count
    FROM
        stories_likes AS t
    WHERE t.story_id IN (
        SELECT t.id FROM stories AS t WHERE t.user_id = 2
        )
    GROUP BY
        t.story_id
)
--добавляем в подготовленный ранее запрос сведения о количестве лайков
SELECT
    t.id
    ,t.views_count
    ,t.created_at
    ,(SELECT t.firstname FROM users AS t WHERE t.id = 2) AS name
    ,(SELECT t.lastname FROM users AS t WHERE t.id = 2) AS lastname
    ,s.count
FROM
    stories AS t
    INNER JOIN subquery AS s
    ON t.id = s.story_id
WHERE
    t.user_id = 2
ORDER BY
    t.views_count DESC;

In [ ]:
###

In [ ]:
--8
SELECT
    t.id
    ,t.sender_id
    ,SUBSTRING(t.body, 1, 30) AS body
    ,t.created_at
FROM
    group_messages AS t
WHERE
    t.group_id = 11
    AND t.media_type = 'text'
ORDER BY
    t.created_at ASC;

In [ ]:
###

In [ ]:
--9
SELECT
    t.id
    ,(SELECT u.firstname FROM users AS u WHERE u.id = t.sender_id) AS firstname
    ,(SELECT u.lastname FROM users AS u WHERE u.id = t.sender_id) AS lastname
    ,SUBSTRING(t.body, 1, 30) AS body
    ,t.created_at
FROM
    group_messages AS t
WHERE
    t.group_id = 11
    AND t.media_type = 'text'
ORDER BY
    t.created_at ASC;

In [ ]:
###

In [ ]:
--10
SELECT
    t.firstname
    ,t.lastname
    ,t.birthday
    ,us.app_language
FROM
    users AS t
    LEFT JOIN user_settings AS us
    ON t.id = us.user_id
WHERE
    t.email = 'mgoyette@example.org';

In [ ]:
###

In [ ]:
--11
SELECT
    t.firstname
    ,t.lastname
    ,t.birthday
    ,us.app_language
FROM
    users AS t
    LEFT JOIN user_settings AS us
    ON t.id = us.user_id
WHERE
    t.id = 10;

In [ ]:
###

In [ ]:
--12
SELECT
    t.firstname
    ,t.lastname
FROM
    users as t
    LEFT JOIN user_settings AS us
    ON t.id = us.user_id
WHERE
    us.app_language = 'russian'
ORDER BY
    t.lastname;

In [ ]:
###

In [ ]:
--13
SELECT
    t.id
    ,t.views_count
    ,t.created_at
    ,u.firstname
    ,u.lastname
FROM
    stories AS t
    LEFT JOIN users AS u
    ON t.user_id = u.id
WHERE
    t.user_id = 2
ORDER BY
    t.views_count DESC;

In [ ]:
###

In [ ]:
--14
# 1-й вариант решения
--считаем, сколько лайков собрала каждая из опубликованных историй
WITH subquery AS (
    SELECT
        t.story_id
        ,COUNT(t.story_id) AS likes_count
    FROM
        stories_likes AS t
    GROUP BY
        t.story_id
)
--объединяем таблицы с целью фильтрации лайков историй пользователя с id = 2
SELECT
    t.id
    ,s.likes_count
FROM
    stories AS t
    LEFT JOIN subquery AS s
    ON t.id = s.story_id
WHERE
    t.user_id = 2
ORDER BY
    s.likes_count DESC;

In [ ]:
###

In [ ]:
--15
# 2-й вариант решения
SELECT
    t.id
    ,COUNT(1) AS likes_count
FROM
    stories AS t
    LEFT JOIN stories_likes AS sl
    ON t.id = sl.story_id
WHERE
    t.user_id = 2
GROUP BY
    t.id
ORDER BY
    COUNT(sl.story_id) DESC;

In [ ]:
###

In [ ]:
--16
SELECT
    t.id
    ,u.firstname
    ,u.lastname
    ,SUBSTRING(t.body, 1, 30) AS body
    ,t.created_at
FROM
    group_messages AS t
    LEFT JOIN users AS u
    ON t.sender_id = u.id
WHERE
    t.group_id = 11
    AND t.media_type = 'text'
ORDER BY
    t.created_at ASC;

In [ ]:
###

In [ ]:
--17
SELECT
    t.firstname
    ,t.lastname
    ,chs.channel_id
FROM
    users AS t
    LEFT JOIN channel_subscribers AS chs
    ON t.id = chs.user_id
WHERE
    t.id = 11;

In [ ]:
###

In [ ]:
--18
SELECT
    t.firstname
    ,t.lastname
    ,chs.channel_id
FROM
    users AS t
    CROSS JOIN channel_subscribers AS chs
WHERE
    t.id = 11
    AND t.id = chs.user_id;

In [ ]:
###

In [ ]:
--19
SELECT
    t.firstname
    ,t.lastname
    ,c.title
FROM
    users AS t
    LEFT JOIN channel_subscribers AS chs
    ON t.id = chs.user_id
    LEFT JOIN channels AS c
    ON chs.channel_id = c.id
WHERE
    t.id = 11;

In [ ]:
###

In [ ]:
--20
# 1-й вариант решения
-- получим номера id пользователей, у которых есть
-- хотя бы одна подписка
WITH subscribed AS (
    SELECT t.user_id
    FROM channel_subscribers AS t
)
-- отфильтруем пользователей, у которых нет подписки
SELECT
    t.firstname
    ,t.lastname
    ,t.email
FROM
    users AS t
WHERE t.id NOT IN (
    SELECT t.user_id FROM subscribed AS t);

In [ ]:
###

In [ ]:
--21
# 2-й вариант решения
SELECT
    t.firstname
    ,t.lastname
    ,t.email
FROM
    users AS t
    LEFT JOIN channel_subscribers AS chs
    ON t.id = chs.user_id
WHERE chs.user_id IS NULL;

In [ ]:
###

In [ ]:
--22
SELECT
    t.firstname
    ,t.lastname
    ,t.email
FROM
    channel_subscribers AS chs
    RIGHT JOIN users AS t
    ON chs.user_id = t.id
WHERE chs.user_id IS NULL;

In [ ]:
###

In [ ]:
--23
SELECT
    t.id
FROM
    stories AS t
    LEFT JOIN stories_likes AS sl
    ON t.id = sl.story_id
WHERE sl.story_id IS NULL;

In [ ]:
###

In [ ]:
--24
SELECT *
FROM
    stories_likes AS t
    LEFT JOIN stories AS s
    ON t.story_id = s.id
WHERE s.id IS NULL;

In [ ]:
###

In [ ]:
--25
-- объединим сведения обо всех реакциях
-- в трех источниках
WITH all_reactions AS (
    SELECT t.reaction_id FROM private_message_reactions AS t
    UNION ALL
    SELECT t.reaction_id FROM channel_message_reactions AS t
    UNION ALL
    SELECT t.reaction_id FROM group_message_reactions AS t
)
-- посчитаем частоту встречаемости каждой реакции пользователя
SELECT
    t.reaction_id
    ,count(*)
FROM
    all_reactions AS t
GROUP BY
    t.reaction_id
ORDER BY
    t.reaction_id ASC;

In [ ]:
###

In [ ]:
--26
SELECT
    DISTINCT
    t.user_id
    ,COUNT(t.channel_id) OVER(PARTITION BY t.user_id) AS channels_count
FROM
    channel_subscribers AS t
WHERE
    t.status = 'joined'
ORDER BY
    channels_count DESC
LIMIT 1;

In [ ]:
###

In [ ]:
--27
SELECT
    DISTINCT
    t.is_premium_account
    ,COUNT(1) OVER(PARTITION BY t.is_premium_account) AS users_amount
FROM
     user_settings AS t;

In [ ]:
###

In [ ]:
--28
SELECT
    DISTINCT
    COUNT(1) OVER(PARTITION BY t.reaction_id) AS `count`
    ,t.reaction_id
FROM
    private_message_reactions AS t
ORDER BY
    `count` DESC;

In [ ]:
###

In [ ]:
--29
-- вычисляем встречаемость каждой реакции
WITH frequency AS (
    SELECT
        DISTINCT
        COUNT(1) OVER(PARTITION BY t.reaction_id) AS `count`
        ,t.reaction_id
    FROM
        private_message_reactions AS t
    ORDER BY
        `count` DESC
)
-- выводим сведения только о тех реакциях,
-- которые пользователи поставили более 80 раз
SELECT
    t.count
    ,t.reaction_id
FROM
    frequency AS t
WHERE
    t.count > 80;

In [ ]:
###

In [ ]:
--30
SELECT
    DISTINCT
    SUM(t.views_count) OVER (PARTITION BY t.user_id) AS views_per_user
    ,t.user_id
FROM
    stories AS t
ORDER BY
    t.user_id ASC;

In [ ]:
###

In [ ]:
--31
# 1-й вариант решения
-- вычисляем суммарное количество просмотров,
-- полученных каждым пользователем
WITH view_amount AS (
    SELECT
        DISTINCT
        SUM(t.views_count) OVER (
            PARTITION BY t.user_id) AS views_per_user
        ,t.user_id
    FROM
        stories AS t
    ORDER BY
        t.user_id ASC
)
-- выявляем ТОП-5 пользователей по числу просмотров
SELECT
    t.views_per_user
    ,t.user_id
FROM
    view_amount AS t
ORDER BY
    t.views_per_user DESC
LIMIT 5;

In [ ]:
###

In [ ]:
--32
# 2-й вариант решения
SELECT
    DISTINCT
    SUM(t.views_count) OVER (
        PARTITION BY t.user_id) AS views_per_user
    ,t.user_id
FROM
    stories AS t
ORDER BY
    views_per_user DESC
LIMIT 5;

In [ ]:
###

In [ ]:
--33
SELECT
    DISTINCT
    s.id
    ,COUNT(1) OVER(PARTITION BY t.story_id) AS likes_count
FROM
    stories_likes AS t
    LEFT JOIN stories AS s
    ON t.story_id = s.id
WHERE
    s.user_id = 2
ORDER BY
    likes_count DESC;

In [ ]:
###

In [ ]:
--34
-- объединяем сведения об используемых пользователями
-- реакциях (эмодзи) во всех информационных каналах
WITH reactions AS (
    SELECT t.reaction_id FROM private_message_reactions AS t
    UNION ALL
    SELECT t.reaction_id FROM channel_message_reactions AS t
    UNION ALL
    SELECT t.reaction_id FROM group_message_reactions AS t
)
-- вычисляем частоту встречаемости каждой реакции (эмодзи)
SELECT
    DISTINCT
    t.reaction_id
    ,COUNT(1) OVER(PARTITION BY t.reaction_id) AS count
FROM
    reactions AS t
ORDER BY
    t.reaction_id ASC;

In [ ]:
###

In [ ]:
--35
-- собъединим сведения о пользователях,
-- являющихся владельцами публичных каналов
WITH owners AS (
    SELECT t.owner_user_id FROM channels AS t
    UNION ALL
    SELECT t.owner_user_id FROM `groups` AS t
)
-- вычислим, сколько публичных каналов
-- приходится на одного пользователя и определим ТОП-5
SELECT
    DISTINCT
    t.owner_user_id
    ,COUNT(1) OVER(PARTITION BY t.owner_user_id) AS cnt
FROM
    owners AS t
ORDER BY
    cnt DESC
LIMIT 5;

In [ ]:
###